{% extends "layout.html" %}

{% block title %}Connexion{% endblock title %}

{% block content %}
    <div class="flex justify-center p-8">
        <form method="post" action="" class="bg-third shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
            <div class="text-white text-2xl m-4">Connexion</div>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="w-full bg-primary hover:bg-green-600 text-white py-2 px-4 rounded-lg m-1" type="submit">Connexion</button>
            <a class="text-white" href="{% url "app_forgot_password" %}"><p>Mot de passe oublié ?</p></a>
        </form>
        {% if errors %}{{ errors }}{% endif %}
    </div>
{% endblock content %}